<% if user_signed_in? %>
  <div class="box-heading">
    <%= t "activity.title" %>
  </div>
  <div id="activities_wrapper">
    <%= render partial: 'static_pages/activity_item',
      collection: @activities, as: "activity" %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "Book Home" %></h1>
    <%= link_to (t "devise.home.login"), "#", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
