<%= provide :title, t(".title") %>
<div id="books">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 padding-top-50">
      <div class="col-lg-12">
        <h1 class="text-center title-function">
          <%= t ".title" %>
        </h1>
      </div>
      <%= render "form" %>
    </div>
  </div>
</div>
