<div class="panel panel-default">
  <% @user_books.each do |user_book|%>
    <div class="panel-heading">
       <h3><%= user_book.user.name %></h3>
    </div>
    <div class="panel-body">
      <div><%= user_book.review %></div>
    </div>
    <ol class="comments">
      <%= render user_book.comments %>
    </ol>
    <%= render "shared/comment_form", user_book: user_book %>
  <% end %>
</div>
