<%= provide :title, t(".title") %>
<div id="books">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 padding-top-50">
      <div class="box_heading activity_heading">
        <%= t ".title" %>
      </div>
      <%= render "form" %>
    </div>
  </div>
</div>
