$border-color: #eaeaea;
$color: #90949c;
$color-menu: #00897b;
$color-shadow: #888888;
$color-green: #24b840;
$color-red: #dd2231;
#books, #authors, #languages, #publishers, #categories {
  padding-bottom: 50px;
  .menu-left {
    list-style: none;
    padding-left: 0;
  }

  .menu-left li {
    border-bottom: 1px solid $border-color;
  }

  .menu-left li:hover {
    background-color: #3E2723;
  }

  .color-shadow {
    color: $color-shadow;
    font-size: 18px;
  }

  .menu-left-header {
    background-image: url("bg_box_head_1.png");
    background-size: 100% 100%;
    line-height: 80px;
  }

  .menu-left-header a {
    color: rgb(22, 20, 18);
    text-shadow: rgb(187, 179, 165) 1px 1px;
  }

  .menu-left-header:hover a {
    text-decoration: none;
    color: rgb(22, 20, 18);
    text-shadow: rgb(187, 179, 165) 1px 1px;
  }

  .text-center {
    text-align: center;
  }

  .margin-0 {
    margin: 0;
  }

  .padding-0 {
    padding: 0;
  }

  .padding-2 {
    padding: 2px;
  }

  .main-content {
    height: 500px;
  }

  .padding-top-20 {
    padding-top: 20px;
  }

  .div-search {
    background-color: #3E2723;
    padding: 10px;
  }

  .max-width {
    width: 100%;
  }

  .book-item {
    border: 1px solid $border-color;
    border-radius: 10px;
    height: 400px;
    padding: 5px;
    background-color: white;
  }

  .book-item-img {
    width: 100%;
    height: 60%;
  }

  .book-item-button {
    margin: 1px;
  }

  .book-item-list {
    list-style: none;
    padding: 0;
  }

  .book-item-list li {
    display: inline-block;
    width: 31%;
    text-align: center;
    padding: 10px;
    border: 1px solid $border-color;
    color: #8f8f8f;
    background-color: #e5e5e5;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
  }

  .book-item-list .favorited,
  .book-item-list .reading,
  .book-item-list .read {
    background-color: #ea7696;
    color: white;
    border-color: #c00;
  }

  .book-item-list li:hover {
    background-color: #ea7696;
    color: white;
    border-color: #c00;
  }

  .font-size-10 {
    font-size: 12px;
  }

  .font-size-15 {
    font-size: 15px
  }

  .book-item-price {
    padding: 8px;
    background-color: #c00;
    color: white;
    display: block;
    width: 60%;
    font-size: 15px;
  }

  .book-item-title {
    font-size: 14px;
    display: block;
    display: -webkit-box;
    line-height: 1;
    height: 28px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .book-item-title:hover a {
    text-decoration: none;
  }

  .show-one-line {
    font-size: 15px;
    display: block;
    display: -webkit-box;
    line-height: 1;
    height: 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .display-none {
    display: none;
  }

  .books-data-filter {
    display: block;
    font-weight: normal;
    cursor: pointer;
    color: #d0ba9d;
    margin: 0;
    padding: 5px;
    text-shadow: 1px 1px 1px #000;
  }

  .books-data-filter:hover {
    color: white;
  }

  .text-center {
    text-align: center;
  }

  .padding-0 .col-lg-3 {
    padding: 0;
    padding-left: 2px;
  }

  .padding-0 .col-lg-6 {
    padding: 0;
    padding-left: 2px;
  }

  .padding-top-50 {
    padding-top: 50px;
  }

  .margin-top-100 {
    margin-top: 100px;
  }

  .padding-20 {
    padding: 20px;
  }

  .box-shadow {
    box-shadow: 0 3px 5px black;
  }

  #error_explanation ul {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    border-radius: 5px;
  }

  #new_book {
    label {
      font-weight: normal;
      font-size: 25px;
      font-family: "PT Sans Narrow", sans-serif;
      color: #161412;
      text-shadow: 1px 1px #bbb3a5;
    }
  }

  .title-function {
    font-family: "PT Sans Narrow", sans-serif;
    color: #161412;
    text-shadow: 1px 1px #bbb3a5;
    font-size: 50px;
  }

  .resize_image {
    width: 80px;
    height: 100px;
  }

  .font-size-20 {
    font-size: 20px;
  }

  .book-table {
    background-color: #3E2723;
    color: #D7CCC8;
  }

  .book-table tr:hover {
    background-color: #8D6E63;
  }

  .book-table thead {
    background-color: #795548;
    font-size: 15px;
  }

  .book-table thead, tr, td {
    border-color: #795548;
  }

  .book-table {
    border-color: #3E2723;
  }

  .book-table th {
    border-color: #3E2723;
    text-shadow: 1px 1px 1px black;
  }

  .book-form-search .col-lg-3 {
    padding: 0;
    padding-right: 5px;
  }

  .book-form-search select {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
  }

  .book-form-search .col-lg-3 select {
    width: 100%;
  }

  .book-form-search input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
  }

  .books-btn-search {
    background-color: #FF8F00;
    border-color: #FF8F00;
    color: white;
    box-shadow: 0 2px 5px black;
  }

  .books-btn-search:hover {
    box-shadow: 0 4px 5px black;
  }

  .width-5 {
    width: 5%;
  }

  .width-10 {
    width: 10%;
  }

  .book-cover-image-size {
    width: 180px;
    height: 280px;
  }

  .width-80 {
    width: 80px;
  }

  .width-30 {
    width: 30%;
  }

  .width-20 {
    width: 15%;
  }

  .book-show-btn-request {
    background-color: #3E2723;
    border: 2px solid #A1887F;
    color: #e3d3c1;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
  }

  .book-show-price {
    font-weight: bold;
    font-size: 15px;
  }

  .book-show-title {
    font-size: 30px;
  }

  .rating-xs {
    font-size: 15px;
  }
}


.book-item-information {
  width: 160px;
  height: auto;
}

.tab-content {
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left: 1px solid rgb(221, 221, 221);
  padding: 10px;
  margin-bottom: 25px;
  z-index: 2;
  overflow: auto;
  background: #fff;
}
