@import "bootstrap-sprockets";
@import "bootstrap.min";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert {
  ul {
    list-style: none;
  }
}

/* Users index */

.users {
  display: block;
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
}

#search {
  width: 250px;
  height: 40px !important;
}

#bt_search {
  width: 80px;
  height: 40px !important;
}

.user_name_wrapper {
  ul {
    left: 22px;
    background: #000;

    &:before {
      position: absolute;
      top: -7px;
      left: 69px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #000;
      border-left: 7px solid transparent;
      content: "";
    }

    li > a {
      text-decoration: none;
      color: #c3ab8d;
      white-space: nowrap;
      min-width: 145px;
      font-size: 15px;
      font-family: 'PT Sans Narrow', sans-serif;
      font-weight: normal;
      border-bottom: 1px #000 dotted;
      text-transform: uppercase;
      text-align: center;

      &:hover {
        color: #f2e9de;
        background-color: transparent;
      }
    }
  }
}

ol.comments {
  padding-left: 50px;
  list-style: none;
}
