@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Roboto:300&subset=vietnamese";
@import "https://fonts.googleapis.com/css?family=PT+Sans+Narrow";

.home {
  background: #404040 url(ui/bg_body.jpg) left top repeat;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.bg_top {
  background: url(ui/bg_top.png) left top repeat-x;
  height: 171px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.bg_bottom {
  background: url(ui/bg_top_carusel.png) left 0 no-repeat;
  width: 1000px;
  height: 109px;
  margin-top: 5px;
  margin-bottom: -50px;
}

.home_login_button {
  position: absolute;
  right: 325px;
  top: 28px;
}

.heading_button {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: #161412;
  text-shadow: 1px 1px #bbb3a5;
}

#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-bottom: 60px;
  background: url(ui/bg_header.jpg) left 0 no-repeat;

  header {
    height: 160px;
    position: relative;
    z-index: 99;

    #logo {
      position: absolute;
      bottom: 0;
      left: 0;

      a {
        background: rgba(0, 0, 0, 0.6);
        display: block;
        float: left;
        padding: 0 10px;
        margin-left: 15px;
        border-radius: 3px;
        text-decoration: none;

        h1 {
          font-size: 60px;
          font-family: "PT Sans Narrow", sans-serif;
          color: aliceblue;
          margin: 0;
        }
      }
    }

    #menu {
      height: 50px;
      float: right;
      position: relative;
      top: 120px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -khtml-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: 0 0 0 #DDDDDD;
      -moz-box-shadow: 0 0 0 #DDDDDD;
      box-shadow: 0 0 0 #DDDDDD;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;

        li {
          position: relative;
          float: left;
          z-index: 20;

          &:hover a {
            color: #f5e9d9;
          }

          a {
            font-family: "PT Sans Narrow", sans-serif;
            font-size: 15px;
            color: #d0ba9d;
            line-height: 30px;
            text-decoration: none;
            display: block;
            z-index: 6;
            position: relative;
            white-space: nowrap;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px #000;
            padding: 12px 14px;
            font-weight: 300;
          }
        }
      }
    }

    #login_wrapper {
      width: 215px;
      float: right;
      text-align: center;
      position: relative;
      top: 29px;

      .user_name_wrapper {
        position: relative;
        left: 475px;
      }

      .signin_signup {
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 25px;
        line-height: 40px;
        color: #161412;
        text-align: center;
        text-shadow: 1px 1px #bbb3a5;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        margin: 10px;

        &:hover {
          color: #464441;
        }
      }
    }
  }

  footer {
    clear: both;
    overflow: auto;
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    background: #35281f;
    padding-left: 10px;

    #footer_content {
      width: 1000px;
      margin-left: auto;
      margin-right: auto;

      h3 {
        color: #968477;
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
      }
    }
  }

  .box-heading{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    color: #161412;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 1px 1px #bbb3a5;
    letter-spacing: 1px;
    background: url(bg_box_head_1.png) 46% top no-repeat;
    padding-top: 40px;
    margin-top: -105px;
    margin-left: 80px;
    padding-right: 50px;
    text-transform: uppercase;
  }

  #activities_wrapper {
    width: 1000px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
    text-align: center;

    .activity_item_wrapper {
      display: inline-block;
      box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
      margin: 0 2px 15px;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      background: #FEFEFE;
      background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
      opacity: 1;
      width: 100%;
      text-align: left;

      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      -webkit-border-radius: 4px;
      border-radius: 4px;

      .poster_info_area {
        padding: 0 10px;
        position: relative;
        border-bottom: 1px solid #d2d2d2;
        background-color: #f2f2f2;
        border-radius: 4px 4px 0 0;

        .avatar_area img {
          float: left;
          margin: 10px 15px 0 0;
          padding: 0;
        }

        .poster_content_area {
          margin: 0 0 15px 61px;
          padding: 12px 0 0 0;
          text-overflow: ellipsis;

          a {
            text-decoration: none;

            h3 {
              font: normal 20px "Roboto", sans-serif;
              margin: 0;
              border: 0;
              font-weight: 300;
              unicode-bidi: normal;
              text-decoration: none;
              -webkit-font-smoothing: antialiased;
            }
          }
        }
      }

      .activity_content_area {
        border-bottom: 1px solid #d2d2d2;

        .book_cover {
          width: 100%;
          height: auto;
        }

        .activity_text {
          padding: 10px;
        }
      }

      .interaction_area {
        text-align: center;
        padding: 10px;

        a {
          font-size: 20px;
          cursor: pointer;
          text-decoration: none;

          b{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
            font-size: 14px;
            position: relative;
            top: -3px;
            left: 5px;
          }
        }
      }
    }
  }
}
